@import './variables.scss';
@import './components.scss';
@import './normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding-top: 140px;
}

img {
    display: block;
    max-width: 100%;
}

@media (max-width: $smallScreen) {
    section {
        padding-top: 100px;
    }
}

@media (max-width: $tablet) {
    section {
        padding-top: 75px;
    }
}
