/* colors */
$black: #081f32;
$white: #ffffff;

$gray: #394b5a;
$light-gray: #697681;

$blue: #1b75bb;
$light-blue: #4890c7;

/* timing functions */
$transition: 0.5s ease-out;

/* screen sizes */
$smallScreen: 992px;
$tablet: 768px;
$phone: 576px;