@import '../../styles/variables.scss';

.features__inner {
    text-align: center;
}
.features__subtitle {
    max-width: 70%;
    margin: 25px auto 0;
}
.features__wrapper {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    // border: 1px solid #000;
}
.features__item {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 20px 15px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.features__item-descr {
    min-height: 60%;
    // border: 1px solid #000;
}
.features__item-img {
    height: 75px;
    margin: 0 auto;
}
.features__item-title {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 150%;
}
.features__item-text {
    min-height: 40%;
    margin-top: 15px;
}

@media (max-width: $smallScreen) {
    .features__wrapper {
        gap: 20px;
    }
    .features__item {
        padding: 15px 10px 10px;
    }
}

@media (max-width: $tablet) {
    .features__subtitle {
        margin-top: 15px;
    }
    .features__wrapper {
        flex-wrap: wrap;
    }
    .features__item {
        width: calc(50% - 10px);
    }
}
@media (max-width: $phone) {
    .features__subtitle {
        max-width: 90%;
    }
    .features__wrapper {
        margin-top: 30px;
    }
    .features__item {
        padding: 10px 5px 5px;
    }
    .features__item-descr {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        min-height: 15%;
        text-align: left;
    }
    .features__item-img {
        width: 16px;
        height: auto;
        margin-right: 5px;
        margin-left: 0;
    }
    .features__item-title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 1;
    }
    .features__item-text {
        min-height: 85%;
        margin-top: 25px;
    }
}
