@import '../../styles/variables.scss';

/* TITLE BLOCK */
.testimonials__inner-title {
    display: flex;
    justify-content: space-between;
}
.testimonials__wrapper {
    margin-top: 30px;
    overflow: hidden;
}

/* CAROUSEL STYLIZATION */
.embla__container {
    display: flex;
    margin-right: -30px;
    padding: 30px 0;
}
.testimonials__item {
    flex: 0 0 calc(33.333% - 30px);
    margin-left: 30px;
    padding: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    text-align: center;
    opacity: 0.75;
    transition: 0.5s ease;
    position: relative;

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        opacity: 1;
    }
}
/* profile picture */
.testimonials__item-photo {
    img {
        display: inline-block;
    }
}
/* quotes icon */
.testimonials__item-quotes {
    display: block;
    margin-bottom: 5px;
}
.testimonials__item-text {
    margin-bottom: 30px;
    color: $black;
    font-size: 18px;
    line-height: 160%;
}
.testimonials__item-author {
    margin-bottom: 5px;
    font-size: 20px;
}
.testimonials__item-email {
    color: $gray;
    font-size: 14px;
    line-height: 160%;
    transition: $transition;

    &:hover {
        color: $blue;
    }
}

/* DEVICE ADAPTATION */
@media (max-width: $smallScreen) {
    .testimonials__item {
        padding: 15px;
    }
}
/* tablet */
@media (max-width: $tablet) {
    .testimonials__inner-title {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .testimonials__title-link {
        margin-top: 20px;
    }
    .testimonials__wrapper {
        margin-top: 15px;
    }
    .testimonials__item {
        flex-basis: calc(50% - 30px);
    }
}
/* mobile phone */
@media (max-width: $phone) {
    .testimonials__wrapper {
        margin-top: 0;
    }
    .testimonials__item {
        flex-basis: calc(100% - 30px);
    }
}
