@import '../../styles/variables.scss';

.notification {
    min-width: 500px;
    padding: 10px 25px;
    background-color: $blue;
    color: $white;
    border: 3px solid $white;
    border-radius: 4px;
    box-shadow: 0 0 0 3px $blue;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.5;
    transform: translateX(-50%) translateY(calc(-100% - 4px));
    transition: 1s cubic-bezier(0, -1.5, 0.59, 1.71);
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 50;
}

.notification-active {
    opacity: 1;
    transform: translateX(-50%) translateY(10px);
}

/* DEVICE ADAPTATION */
/* tablet */
@media (max-width: $tablet) {
    .notification {
        width: 75%;
    }
}
/* mobile phone */
@media (max-width: $phone) {
    .notification {
        min-width: 0;
        width: calc(100% - 30px);
        padding: 5px 10px;
        font-size: 18px;
    }
}
