@import '../../styles/variables.scss';

.header {
    margin-top: 30px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.header__inner {
    display: flex;
    align-items: center;
}

/* NAVIGATION */
.header__nav {
    margin-left: 125px;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
/* navigation link */
.header__nav-link {
    color: #505f6c;
    font-family: 'Gelasio', 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    outline: none;
    transition: $transition;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $light-blue;
        border-radius: 5px;
        transform: translate(-50%, -50%) scale(0);
        transition: $transition;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &::after {
        content: '';
        width: 0;
        height: 3px;
        background-color: $blue;
        border-radius: 2px;
        transition: $transition;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    span {
        position: relative;
        z-index: 2;
    }

    &:hover {
        color: $blue;

        &::before {
            background-color: transparent;
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &:focus {
        color: $blue;

        &::after {
            width: 100%;
        }
    }
}
/* navigation burger button */
.header__nav-btn {
    display: none !important;

    .hamburger-inner {
        background-color: $blue;

        &::before,
        &::after {
            background-color: $blue;
        }
    }

    &.is-active {
        .hamburger-inner {
            background-color: $light-blue !important;

            &::before,
            &::after {
                background-color: $light-blue !important;
            }
        }
    }
}
/* 'Book now' button */
#header__button {
    margin-left: auto;
    font-family: 'Gelasio', 'Times New Roman', serif;
    font-size: 16px;
}

/* DEVICE ADAPTATION */
@media (max-width: $smallScreen) {
    /* NAVIGATION */
    .header__nav {
        margin-left: 25px;
        margin-right: 5px;
    }
    /* navigation link */
    .header__nav-link {
        font-size: 16px;
    }
}
/* tablet */
@media (max-width: $tablet) {
    /* NAVIGATION */
    .header__nav {
        height: 100%;
        margin: 0;
        background-color: rgba(8, 31, 50, 0.9);
        opacity: 0;
        transition: $transition;
        transform: translateY(-100%);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;

        &.header__nav-active {
            opacity: 1;
            transform: translateY(0);

            .header__nav-link {
                visibility: visible;
            }
        }

        ul {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                margin-right: 0;
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    /* navigation link */
    .header__nav-link {
        color: #90d8ff;
        font-size: 20px;
        visibility: hidden;
    }
    /* navigation burger button */
    .header__nav-btn {
        display: block !important;
        order: 3;
        position: relative;
        z-index: 100;
    }
    /* 'Book now' button */
    #header__button {
        margin-left: auto;
        margin-right: 25px;
    }
}
/* mobile phone */
@media (max-width: $phone) {
    .header {
        margin-top: 15px;
    }
    /* 'Book now' button */
    #header__button {
        margin-right: 5px;
    }
}
