@import '../../styles/variables.scss';

.gallery__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
/* TITLE BLOCK */
.gallery__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: calc(50% - 15px);

    .gallery__subtitle {
        max-width: 80%;
        margin-top: 25px;
    }

    .button {
        align-self: start;
        margin-top: 30px;
    }
}

/* GALLERY */
.gallery__item {
    display: flex;
    width: calc(50% - 15px);
    position: relative;
}
.gallery__item-img {
    margin-top: auto;
    position: relative;
    z-index: 1;

    img {
        border-radius: 10px;
    }
}
.gallery__item-descr {
    width: fit-content;
    padding: 25px;
    background-color: rgba(235, 235, 235, 0.9);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.gallery__item-descr-wrapper {
    margin-bottom: 10px;
}
.gallery__item-roomname {
    display: inline-block;
    margin-right: 25px;
    font-size: 18px;
}
.gallery__item-price {
    display: inline-block;
    color: $gray;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;

    /* 'night' option */
    span {
        font-size: 12px;
        font-weight: 400;
    }
}
.gallery__item-book {
    font-family: 'Gelasio', 'Times New Roman', serif;
}

/* DEVICE ADAPTATION */
/* tablet */
@media (max-width: $tablet) {
    .gallery__descr {
        width: 100%;
        text-align: center;

        .gallery__subtitle {
            max-width: 70%;
            margin: 15px auto 0;
        }
        .button {
            align-self: center;
            margin-top: 20px;
        }
    }
    .gallery__item-descr {
        padding: 15px;
    }
}
/* mobile phone */
@media (max-width: $phone) {
    .gallery__inner {
        gap: 15px;
    }
    .gallery__item {
        width: calc(50% - 7.5px);
    }
    .gallery__descr {
        .gallery__subtitle {
            max-width: 90%;
        }
        .button {
            margin-top: 15px;
        }
    }
    .gallery__item {
        flex-direction: column;
    }
    .gallery__item-img img {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .gallery__item-descr {
        width: 100%;
        padding: 10px 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: relative;
    }
    .gallery__item-descr-wrapper {
        margin-bottom: 5px;
    }
    .gallery__item-roomname {
        display: block;
        margin: 0 5px 5px 0;
    }
}

/* if backdrop-filter is supported background will be blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .gallery__item-descr {
        backdrop-filter: blur(70px);
    }
}
