@import '../../styles/variables.scss';

.subscribe__inner {
    text-align: center;
}
.subscribe__title {
    margin-top: 20px;
}
.subscribe__inner .subscribe__field {
    margin-top: 50px;

    .subscribe__field-input {
        width: 415px;
    }
}

/* DEVICE ADAPTATION */
/* tablet */
@media (max-width: $tablet) {
    .subscribe__inner .subscribe__field .subscribe__field-input {
        width: 300px;
    }
}
/* mobile phone */
@media (max-width: $phone) {
    .subscribe__title {
        margin-top: 10px;
        font-size: 26px;
    }

    .subscribe__inner .subscribe__field {
        margin-top: 25px;

        .subscribe__field-input {
            width: 100%;
        }
    }
}
